.main {
  display: flex;
  height: 100%;
}
.main .el-card {
  box-shadow: none !important;
  border-radius: 0;
  border: none;
  border-right: 1px solid rgba(247, 249, 251, 1);
}
.main .form .el-card__header {
  padding: 1px 10px 1px 20px;
  border: none;
  background: rgba(235, 238, 242, 1);
}
.main .form .el-card__header .header-button {
  display: inline-block;
  line-height: 40px;
  margin-right: 5px;
  text-align: right;
}
.main .form .el-card__header .header-button .el-upload-list {
  float: left;
  margin-right: 20px;
}
.main .form .el-card__header .header {
  display: flex;
  justify-content: space-between;
}
.main .preview .el-card__header {
  padding: 1px 10px 1px 20px;
  border: none;
  background: rgba(235, 238, 242, 1);
}
.main .el-card .el-card__body {
  padding: 0px;
}
.main .el-collapse-item__header {
  height: 36px;
  background: rgba(245, 247, 249, 1);
}
.form .el-collapse-item__header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.preview .el-collapse-item__header {
  padding-left: 15px;
}
.form .el-collapse-item__arrow {
  margin: 0 8px 0 8px;
}
.preview .el-collapse-item__arrow {
  display: none;
}
.form {
  width: 55%;
}
.form3 {
  margin: 15px 10px 0px 10px;
}
.form3 .el-form-item {
  margin-bottom: 0px;
  margin-top: 10px;
}
.preview {
  width: 45%;
}
